<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Images</key>
	<array>
		<string>https://i.ytimg.com/vi/5tvjSJF_7uY/maxresdefault.jpg</string>
		<string>https://s-media-cache-ak0.pinimg.com/600x315/cc/6f/06/cc6f068abfd62564a15fe48288952b9c.jpg</string>
		<string>https://i.ytimg.com/vi/6sta6Gkpgcw/maxresdefault.jpg</string>
		<string>https://lh3.googleusercontent.com/--2miylbynNg/VrrydaPaugI/AAAAAAAADJI/5M_DSjw9KwQ/w640-h400-p-k/Cute-Kittens-kittens-13247984-536-440.jpg</string>
	</array>
</dict>
</plist>
